@using PowerNutrition.Web.ViewModels.Supplement;
@model DetailsSupplementViewmodel;
@{
    ViewData["Title"] = @Model.Name;
}

<h2>@Model.Name</h2>

<div>
    <img style="height: 300px; width: 300px" src="@Model.ImageUrl" />
    <p>Brand: @Model.Brand</p>
    <p>Price: @Model.Price</p>
    <p>In stock: @Model.Quantity left</p>
    <p>Type: @Model.Category</p>
    <p>Description: @Model.Description</p>
    <p>Weight: @Model.Weight kg</p>

    <form asp-controller="Cart" asp-action="AddToCart" method="post" class="flex-1">
        <input type="hidden" name="supplementId" value="@Model.Id" />
        <button type="submit" class="btn btn-success">
            Add to Cart
        </button>
    </form>
</div>
