@using PowerNutrition.Web.ViewModels.Supplement;
@model DetailsSupplementViewmodel;
@{
    ViewData["Title"] = @Model.Name;
}

<h2>@Model.Name</h2>

<div>
    <img src="@Model.ImageUrl" />
    <p>Brand: @Model.Brand</p>
    <p>Price: @Model.Price</p>
    <p>In stock: @Model.Quantity left</p>
    <p>Type: @Model.Category</p>
    <p>Description: @Model.Description</p>

    <form asp-controller="Cart" asp-action="AddToCart" method="post" class="flex-1">
        <input type="hidden" name="supplementId" value="@Model.Id" />
        <button type="submit"
                class="w-full px-3 py-1 text-sm bg-green-600 rounded hover:bg-green-700">
            Add to Cart
        </button>
    </form>
</div>
