@using PowerNutrition.Web.ViewModels.Supplement;
@model IEnumerable<AllSupplementsViewmodel>
@{
    ViewData["Title"] = "Supplements";
}

<h2>All Supplements</h2>

<div style="display:flex; flex-direction: row; gap: 10px; flex-wrap: wrap">
    @foreach (var supplement in Model)
    {
        <div>
            <img height="300" width="300" src="@supplement.ImageUrl"/>
            <h3>@supplement.Name</h3>
            <p>Brand: @supplement.Brand</p>
            <p>Type: @supplement.Category</p>
            <p>Price: @supplement.Price $</p>
            <p>Quantity @supplement.Quantity</p>
            <div>
                <a asp-controller="Supplement" asp-action="Details" asp-route-id="@supplement.Id">
                    Details
                </a>

                <form asp-controller="Cart" asp-action="AddToCart" method="post" class="flex-1">
                    <input type="hidden" name="supplementId" value="@supplement.Id" />
                    <button type="submit">
                        Add to Cart
                    </button>
                </form>
            </div>
        </div>
    }
</div>
