@using PowerNutrition.Web.ViewModels.Supplement;
@model SupplementsPageViewModel;
@{
    ViewData["Title"] = "Supplements";
}
@if(string.IsNullOrEmpty(Model.CategoryName))
{
    <h2 style="text-align:center">All Supplements</h2>
}
else
{
    <h2 style="text-align:center">All @Model.CategoryName Supplements</h2>
}


<form method="get">
    <div class="form-group">
        <label asp-for="CategoryId">Filter by category</label>
        <select asp-for="CategoryId"
            name="categoryFilter"
                asp-items="@(new SelectList(Model.Categories, "Id", "Name"))"
                class="form-control">
            <option value="">All</option>
        </select>
        <button type="submit" class="btn btn-primary" style="margin-top:20px">Filter</button>
    </div>
</form>

<div style="display:flex; flex-direction: row; gap: 5px; flex-wrap: wrap; justify-content:flex-start;">
    @foreach (var supplement in Model.Supplements)
    {
        <div style="margin:15px 15px; border:2px solid black; padding:10px">
            <img height="300" width="300" src="@supplement.ImageUrl"/>
            <h3>@supplement.Name</h3>
            <p>Brand: @supplement.Brand</p>
            <p>Type: @supplement.Category</p>
            <p>Price: @supplement.Price $</p>
            <p>Quantity: @supplement.Quantity</p>
            <p>Weight: @supplement.Weigth kg</p>
            <div>
                <a asp-controller="Supplement" asp-action="Details" asp-route-id="@supplement.Id">
                    <p class="btn btn-primary">
                        Details
                    </p>
                </a>

                <form asp-controller="Cart" asp-action="AddToCart" method="post" class="flex-1">
                    <input type="hidden" name="supplementId" value="@supplement.Id" />
                    <button type="submit" class="btn btn-success">
                        Add to Cart
                    </button>
                </form>
            </div>
        </div>
    }
</div>
